.sbs {
  background-color: #000;
  border-top: 1px solid #fff;
  display: flex;
  height: 580px;
  padding: 20px;
  position: relative;
}

.sbs .section-title {
  color: #fff;
  font-size: 36px;
  left: 40px;
  position: absolute;
  top: 20px;
}

.sbs a {
  flex: 0 1 50%;
  margin-top: 90px;
  height: 420px;
}

.img-left {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.img-left.no-hyperlink {
  flex: 0 1 50%;
  margin-top: 90px;
  height: 420px;
}

.img-left.drone {
  background-image: url(../../assets/logo_drone.png);
}

.img-left.mainevent {
  background-image: url(../../assets/logoescudo.png);
}

.info {
  padding: 40px;
  padding-top: 100px;
  color: #fff;
  flex: 0 1 50%;
}

.info-title {
  margin-bottom: 40px;
}

.info-content {
  line-height: 26px;
  margin-bottom: 12px;
}

.info .rm {
  font-size: 16px;
  text-decoration: underline;
}

.info .rm:hover {
  cursor:pointer;
  opacity: .89;
}
