.banner {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid white;
  display: flex;
  height: 550px;
  position: relative;
}

.banner.hero { background-image: url(../assets/CAPA-LOGOG.jpg); }
.banner.events { background-image: url(../assets/logo_drone.png); }

.banner h3 {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  left: 50px;
  letter-spacing: 1px;
  line-height: 22px;
  margin: 0 0 150px 40px;
  max-width: 500px;
  opacity: 0.85;
  padding: 10px 20px;
}
