body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul,
p,
h1 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  margin: 0 auto;
  max-width: 1360px;
}

.banner {
  background-position: center;
  background-size: 100%;
  border-top: 1px solid white;
  height: 550px;
  position: relative;
}

.banner.hero { background-image: url(./assets/hero.jpg); }
.banner.news { background-image: url(./assets/img1.jpg); }
.banner.events { background-image: url(./assets/img3.jpg); }

.banner h1 {
  background-color: #fff;
  display: inline-block;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
}

.banner.news h1 {
  right: 0;
  left: auto;
}

.banner.events h3 {
  color: #fff;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
