.map-section {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 50px 40px;
}

.map-section h3 {
  font-size: 36px;
  margin: 30px 0 50px 0;
  width: 100%;
}

.map-section .address {
  padding: 10px 20px;
}

.map-section .address h4 {
  margin-bottom: 40px;
}

.map-section .address a {
  color: #fff;
  font-size: 14px;
}

.map-section .address p {
  font-size: 16px;
}

.map-section .address p + p {
  font-size: 14px;
}

.map-section h3 + div {
  width: 600px !important;
  height: 360px !important;
}

.map-section .place {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  width: 37px;
  z-index: 1;
}
